

/* allow the user to use style.ini to change website and sidebar width */

#content {
	/*background-size: ~"calc(100% + "__sidebar_width__ ~" + 182px) !important";*/
	background-size: ~"calc(100%) !important";
	background-position-x: right !important;
	width: 95% !important;
}
#content-body{
	/*width: ~"calc("__site_width__ ~" - "__sidebar_width__ ~" - 72px - 24px)"; */
	width: ~"calc( ( "__site_width__ ~" / 45  ) * 30 ) "; 
	/*margin-right: 48px; */
	margin-right: ~"calc( ( "__site_width__ ~" / 600  ) * 24 ) "; 
	box-sizing: border-box;
}
#header { background-size: cover !important; }
/*.content-sidebar { position: absolute; margin-left: 28px; }*/

div.notify:last-child { margin-bottom: 48px; }
.breadcrumbs { margin-bottom: 0.85em; }
#writtensidebar li a { background-image: none; padding: 0px; }
html { background-color: unset; }
#media__manager, #mediamgr__aside, #mediamgr__content { background-color: __background_alt__; }
#dw__toc ul { margin: 0px !important; }
button { margin: 3px 8px; }
#config__manager td.label span.outkey { background-color: __background_alt__; }
button.toolbutton { padding: 3px; margin: 3px 3px; }
#footer .doc, #footer .license{ margin: 1em 0px; }
#footer a:link, #footer a:visited { 
	color: unset; 
	background-image: none; 
	padding-left: 0px;
	text-decoration: underline;
}

#mediamanager__page .file { width: 100%; clear: both; }
#mediamanager__page .filelist { width: 80%; }


#top_bar #dw__search input[type="text"] { padding-bottom: 9px; }
/*#dw__search button { display: none; }*/
#dw__search input[type="text"] { 
	background: transparent; 
	border: 1px; 
	height:  18px; 
	margin-left: 8px; 
	width:  123px; 
}

#dw__search {
	float: right;
	width: 191px;
	height: 26px;
	background: url(images/searchbox.png) no-repeat;
	position: relative;
	top: 1px;
	margin-bottom: 18px;
}

#dw__search button {
	/* display: inline-block; */
	/* width: 33px; */
	background-color: teal;
	height: 21px;
	margin-right: 0px;
	position: relative;
	left: 7px;
	top: -5px;
	opacity: 0;
}


/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 50%; }

/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    max-width: 14em;
    width: unset;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    width: unset;
    /*width: max-content;*/
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}
