

@media (max-width: 800px) {
	/*body { background-color: teal; }*/
	
	#rss-feed { left: -13px; width: 130px; }
	#wrapper, #footer .text, #content { width: 100%; box-sizing: border-box; }
	#content {
		width: 99% !important;
		box-sizing: border-box !important;
		overflow-x: clip;
	}
	.content-sidebar  { max-width: 163px; }
	.content-sidebar #searchform input[type="submit"] { margin-left: -31px; }
	.content-sidebar #searchform {
		max-width: 160px;
		background-image: none;
		background-color: #fcfcfc;
		border: 1px solid #dcdcdc;
		border-radius: 3px;
	}

	/* dokuwiki specific */
	.page li { margin: 1.85em 1.35em; }
	form#dw__search { display: block; }
	#content { margin-top: 48px; }
	.page button { margin: 12px 8px; padding: 8px; }
}

@media (max-width: 500px) {
	#wrapper, #footer .text, #content { width: 95%; box-sizing: border-box; }
	#top_cufon small, ul#front_menu { max-width: 100%; }
	#content-body, .hentry, .content-sidebar ul, .content-sidebar h3 { width: 100%; }
	.content-sidebar { width:  75%; max-width: unset; }
	.content-sidebar h3 { background-size: 100%; }
	.content-sidebar #searchform { margin-bottom: 4em; }
	#searchform { background-image: none !important; height: unset;}
	.content-sidebar #searchform input[type="text"] { font-size: 2em; height: 1.85em; }
	.content-sidebar #searchform input[type="submit"] { display: none; }
	.content-sidebar { margin-top: 32px; }
	.content-sidebar li { padding: 0.85em !important }

}


/* https://gitlab.com/-/snippets/2071984 */
/* media manager and config manager for mobile */
@media screen and (max-width: 480px){
  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }

/* #mediamanager__page .namespaces { min-width: unset; } */

  /*.page li, .page dd { margin: 1.35em 0px !important; display: block; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 100%;  }
  #config__manager fieldset {  margin: 1em 0px; width: 100%; box-sizing: border-box; }

     /* make <select> not exceed it's parent div's width */
    /* https://stackoverflow.com/q/44810056/337306 */
    div.input, label.nowrap { display: flex; } select { width: 100%; flex-shrink: 1; }

  fieldset { width: unset; margin: 0px; }
  #config__manager fieldset td.value { width: unset; }
  td.label { word-wrap: anywhere; }

  #config__manager fieldset td { display: grid; }
  #config__manager fieldset td.label { width: 75%; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }
}

